* {
    font-family:roboto, arial;
    margin:0px;
    padding:0px;
}

/*define bounds*/
body > * {
    border: 1px solid red;
}

.teal-bkg {
    background-color:#1F2937;
    color: white;
}

.bold {font-weight:bold;}
.light {font-weight:lighter;}

a {
    text-decoration:none;
    color:white;
}

button {
    background-color:#3882F6;
    color:white;
    border-style:none;
    border-radius:7.5px;
    padding: 5px 25px;
}

html, body {
    height:100%;
}
/**---*/
.header-section {
    height:60%;
}

.info-section,
.quote-section,
.banner-section {
    height:50%;
}

.footer-section {
    height:10%;
}

.header-section {
    display:flex;
    flex-direction: column;
    padding: 0px 15%;
    gap:17%;
}

.header-col {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 15px 0px;
}

.header-col > p {
    font-size:24px;
    color: #F9FAF8;
}

.header-col > div > a {
    font-size:18px;
    color:#E5E7EB;
}

.header-col > div {
    display:flex;
    gap: 20px;
}

.intro-col {
    display:flex;
    gap:8%;
}

.intro-col > div:first-child {
    flex: .65 1 0;
}

.intro-col > div:last-child  {
    display:flex;
    background-color: #747474;
    flex: 1 1 0;
    align-items:center;
    justify-content:center;
}

.intro-col > div:first-child > h2 {
    font-size:48px;
    font-weight:bolder;
}

.intro-col > div > *{
    margin: 1.5% 0;
}

/**introduction section*/

.info-section {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:3% 0;
    gap:45px;
}

.info-section > p { 
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}

.info-section > div {
    display:flex;
    gap:7%;
    justify-content:center;
}

.info-box {
    width:200px;
    display:flex;
    flex-direction:column;
    gap:5px;
}

.info-box > div {
    height:200px;
    width:200px;
    border: 3px solid #3882F6;
    border-radius:15px;
}

.info-box > p {
    text-align:center;
    font-weight:normal;
    color:#747474;
    font-size:18px;
}

.quote-section {
    background-color:#E5E7EB;
}