* {
    font-family:roboto;
    margin:0;
    padding:0;
}

.black-bkg {
    background-color:#1F2937;
    color:white;
}

.header {
    display:flex;
    color: white;
    padding:15px;
    font-weight:lighter;
}

.header, .content, .info, .banner, .quote, .footer {
    display:flex;
    justify-content: space-around;
}

.headerLinks {
    display:flex;
    gap:16px;
}

.header > p {
    font-weight:bold;
}

button {
    color:white;
    background-color:#3882F6;
    border-radius:7.5px;
    border-style:none;
    padding:5px 15px;
    
}

a {
    color:white;
    text-decoration:none;
}

.content {
    display:flex;
    flex-direction:column;
}

.welcome {
    gap:40px;
}

.welcome-text > p {
    font-weight:lighter;
}

.welcome-text > h2 {
    font-size:40px;
}

.img {
    background-color:grey;
    padding:20px;
}